body {
    margin: 0;
}

.top-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkmagenta;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 2em;
    padding: 5%;
}

.header {
    color: white;
    font-size: x-large;
    text-decoration: none;
    font-family: grandstander;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 7vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

form input {
    margin: 1.5vh;
    padding: 1vh;
    text-decoration: none;
    font-family: grandstander;
    text-align: center;
    font-size: medium;
}

h2 {
    text-align: left;
    color: color;
    font-size: auto;
    text-decoration: none;
    font-family: grandstander;
    padding: 10%;
    background-color: white;
    color: black;
    border-radius: .5em;
    margin-right: 10%;
    margin-left: 10%;
}

.int-input {
    border-radius: .5em;
    margin-right: 10%;
    margin-left: 10%;
}

.submit-button {
    border-radius: .5em;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3vh;
}